USE [master]
GO
/****** Object:  Database [DATABASE_PROJECT_DBMS]    Script Date: 5/2/2024 3:18:23 AM ******/
CREATE DATABASE [DATABASE_PROJECT_DBMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DATABASE_PROJECT_DBMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.QUOCKIET\MSSQL\DATA\DATABASE_PROJECT_DBMS.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DATABASE_PROJECT_DBMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.QUOCKIET\MSSQL\DATA\DATABASE_PROJECT_DBMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DATABASE_PROJECT_DBMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DATABASE_PROJECT_DBMS]
GO
/****** Object:  User [NV070]    Script Date: 5/2/2024 3:18:23 AM ******/
CREATE USER [NV070] FOR LOGIN [NV070] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NV023]    Script Date: 5/2/2024 3:18:23 AM ******/
CREATE USER [NV023] FOR LOGIN [NV023] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NV015]    Script Date: 5/2/2024 3:18:23 AM ******/
CREATE USER [NV015] FOR LOGIN [NV015] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NV003]    Script Date: 5/2/2024 3:18:23 AM ******/
CREATE USER [NV003] FOR LOGIN [NV003] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NV002]    Script Date: 5/2/2024 3:18:23 AM ******/
CREATE USER [NV002] FOR LOGIN [NV002] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NV001]    Script Date: 5/2/2024 3:18:23 AM ******/
CREATE USER [NV001] FOR LOGIN [NV001] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [N22110251]    Script Date: 5/2/2024 3:18:23 AM ******/
CREATE USER [N22110251] FOR LOGIN [N22110251] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [admin]    Script Date: 5/2/2024 3:18:23 AM ******/
CREATE USER [admin] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [22110251]    Script Date: 5/2/2024 3:18:23 AM ******/
CREATE USER [22110251] FOR LOGIN [22110251] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [Staff]    Script Date: 5/2/2024 3:18:23 AM ******/
CREATE ROLE [Staff]
GO
ALTER ROLE [Staff] ADD MEMBER [NV070]
GO
ALTER ROLE [Staff] ADD MEMBER [NV023]
GO
ALTER ROLE [Staff] ADD MEMBER [NV003]
GO
ALTER ROLE [Staff] ADD MEMBER [NV002]
GO
ALTER ROLE [Staff] ADD MEMBER [N22110251]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin]
GO
ALTER ROLE [Staff] ADD MEMBER [22110251]
GO
/****** Object:  UserDefinedFunction [dbo].[checkLogin]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[checkLogin] (@username NVARCHAR(MAX), @password 
NVARCHAR(MAX)) 
RETURNS BIT 
AS 
BEGIN 
  DECLARE @result BIT; 
 
  SELECT @result = CAST(COUNT(*) AS BIT) 
  FROM DANGNHAP 
  WHERE UserName = @username AND Passwords = @password; 
 
  RETURN @result; 
END; 
GO
/****** Object:  UserDefinedFunction [dbo].[Login]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Login] 
(@username NVARCHAR(MAX), @password NVARCHAR(MAX)) 
RETURNS BIT 
AS 
BEGIN 
  DECLARE @result BIT; 
 
  SELECT @result = CAST(COUNT(*) AS BIT) 
  FROM DANGNHAP 
  WHERE UserName = @username AND Passwords = @password; 
 
  RETURN @result; 
END; 
GO
/****** Object:  Table [dbo].[CuaHang]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuaHang](
	[MaCH] [varchar](10) NOT NULL,
	[TenCH] [nvarchar](max) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[Hotline] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_DSCuaHang]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_DSCuaHang] AS
SELECT
	MaCH N'Mã cửa hàng',
	TenCH N'Tên cửa hàng',
	DiaChi N'Địa chỉ',
	Hotline
FROM CuaHang
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [varchar](10) NOT NULL,
	[TenNCC] [nvarchar](max) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[SDT] [varchar](20) NOT NULL,
	[Mail] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_DSNhaCungCap]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_DSNhaCungCap] AS
SELECT
	MaNCC N'Mã NCC',
	TenNCC N'Tên nhà cung cấp',
	DiaChi N'Địa chỉ',
	SDT N'SDT',
	Mail
FROM NhaCungCap
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[TenNV] [nvarchar](max) NOT NULL,
	[GioiTinh] [nvarchar](max) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[QueQuan] [nvarchar](max) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[SDT] [varchar](20) NOT NULL,
	[Mail] [varchar](50) NOT NULL,
	[ChucVu] [nvarchar](max) NOT NULL,
	[MaCH] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_DSNhanVien]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_DSNhanVien] AS
SELECT
	MaNV N'Mã nhân viên',
	TenNV N'Tên nhân viên',
	GioiTinh N'Giới tính',
	NgaySinh N'Ngày sinh',
	QueQuan N'Quê quán',
	nv.DiaChi N'Nơi ở',
	SDT,
	Mail,
	ChucVu N'Chức vụ',
	TenCH N'Cửa hàng'
FROM NhanVien nv JOIN CuaHang ch ON nv.MaCH = ch.MaCH
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](10) NOT NULL,
	[TenKH] [nvarchar](max) NOT NULL,
	[GioiTinh] [nvarchar](max) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[SDT] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_DSKhachHang]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_DSKhachHang] AS
SELECT
	MaKH N'Mã khách hàng',
	TenKH N'Tên khách hàng',
	GioiTinh N'Giới tính',
	DiaChi N'Địa chỉ',
	SDT
FROM KhachHang
GO
/****** Object:  UserDefinedFunction [dbo].[SearchKhachHang]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SearchKhachHang]
(
    @Keyword NVARCHAR(MAX)
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        MaKH AS 'Mã khách hàng',
        TenKH AS 'Tên khách hàng',
        GioiTinh AS 'Giới tính',
        DiaChi AS 'Địa chỉ',
        SDT
    FROM 
        KHACHHANG
    WHERE 
        MaKH LIKE '%' + @Keyword + '%' OR
        TenKH LIKE '%' + @Keyword + '%' OR
        GioiTinh LIKE '%' + @Keyword + '%' OR
        DiaChi LIKE '%' + @Keyword + '%' OR
        SDT LIKE '%' + @Keyword + '%'
);
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [varchar](10) NOT NULL,
	[NgayGiaoDich] [date] NOT NULL,
	[ThanhToan] [decimal](18, 2) NULL,
	[TrangThai] [nvarchar](max) NULL,
	[MaKH] [varchar](10) NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_DSHoaDon]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_DSHoaDon] AS
SELECT
	MaHD N'Mã hoá đơn',
	NgayGiaoDich N'Ngày giao dịch',
	ThanhToan N'Thanh toán',
	TrangThai N'Trạng thái',
	hd.MaKH N'Mã khách hàng',
	TenKH N'Tên khách hàng',
	hd.MaNV N'Mã nhân viên',
	TenNV N'Tên nhân viên'
FROM HoaDon hd JOIN KhachHang kh ON hd.MaKH = kh.MaKH
		       JOIN NhanVien nv ON hd.MaNV = nv.MaNV
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [varchar](10) NOT NULL,
	[TenSP] [nvarchar](max) NOT NULL,
	[HangSX] [nvarchar](max) NOT NULL,
	[GiaNhap] [decimal](18, 2) NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [varchar](10) NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[DonGia] [decimal](18, 2) NULL,
	[SoLuong] [int] NOT NULL,
	[ThanhTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[func_ChiTietHoaDon_MaHD]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[func_ChiTietHoaDon_MaHD] (@MaHD varchar(10))
RETURNS TABLE
AS
RETURN
(
    SELECT
		SanPham.MaSP N'Mã sản phẩm', 
		TenSP N'Tên sản phẩm',
		DonGia N'Đơn giá', 
		SoLuong N'Số lượng', 
		ThanhTien N'Thành tiền'
    FROM ChiTietHoaDon JOIN SanPham ON ChiTietHoaDon.MaSP = SanPham.MaSP
    WHERE MaHD = @MaHD
);
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPN] [varchar](10) NOT NULL,
	[NgayNhap] [date] NOT NULL,
	[ThanhToan] [decimal](18, 2) NULL,
	[MaNCC] [varchar](10) NULL,
	[MaCH] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_DSPhieuNhap]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_DSPhieuNhap]
AS
SELECT
    PN.MaPN AS N'Mã phiếu nhập',
    PN.NgayNhap AS N'Ngày nhập',
    PN.ThanhToan AS N'Thanh toán',
    NCC.TenNCC AS N'Tên nhà cung cấp',
    CH.TenCH AS N'Tên cửa hàng'
FROM
    PhieuNhap PN
INNER JOIN
    NhaCungCap NCC ON PN.MaNCC = NCC.MaNCC
INNER JOIN
    CuaHang CH ON PN.MaCH = CH.MaCH;
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[MaPN] [varchar](10) NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[DonGia] [decimal](18, 2) NULL,
	[SoLuong] [int] NOT NULL,
	[ThanhTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[func_ChiTietPhieuNhap]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[func_ChiTietPhieuNhap]
(
    @MaPN varchar(10)
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
		SanPham.MaSP N'Mã sản phẩm', 
		TenSP N'Tên sản phẩm',
		DonGia N'Đơn giá', 
		SoLuong N'Số lượng', 
		ThanhTien N'Thành tiền'
    FROM 
		ChiTietPhieuNhap JOIN SanPham ON ChiTietPhieuNhap.MaSP = SanPham.MaSP
    WHERE MaPN = @MaPN
);
GO
/****** Object:  UserDefinedFunction [dbo].[SearchHoaDon]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SearchHoaDon]
(
    @Keyword NVARCHAR(MAX)
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        [Mã hoá đơn] AS N'Mã hóa đơn',
        [Ngày giao dịch] AS N'Ngày giao dịch',
        [Thanh toán] AS N'Thanh toán',
        [Trạng thái] AS N'Trạng thái',
        [Mã khách hàng] AS N'Mã khách hàng',
		[Tên khách hàng] AS N'Tên khách hàng',
        [Mã nhân viên] AS N'Mã nhân viên',
        [Tên nhân viên] AS N'Tên nhân viên'
    FROM 
        view_DSHoaDon
    WHERE 
        [Mã hoá đơn] LIKE '%' + @Keyword + '%' OR
        CONVERT(NVARCHAR(MAX), [Ngày giao dịch], 23) LIKE '%' + @Keyword + '%' OR
        CONVERT(NVARCHAR(MAX), [Thanh toán]) LIKE '%' + @Keyword + '%' OR
        [Trạng thái] LIKE '%' + @Keyword + '%' OR
        [Mã khách hàng] LIKE '%' + @Keyword + '%' OR
		[Tên khách hàng] LIKE '%' + @Keyword + '%' OR
        [Mã nhân viên] LIKE '%' + @Keyword + '%' OR
		[Tên nhân viên] LIKE '%' + @Keyword + '%'
);
GO
/****** Object:  Table [dbo].[KhoHang]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoHang](
	[MaCH] [varchar](10) NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[SoLuongTonKho] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[DSSanPham_CuaHang]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[DSSanPham_CuaHang] (@MaCH varchar(10))
RETURNS TABLE
AS
RETURN
(
    SELECT S.MaSP N'Mã sản phẩm', S.TenSP N'Tên sản phẩm', KH.SoLuongTonKho N'Số lượng tồn kho'
    FROM SanPham S
    INNER JOIN KhoHang KH ON S.MaSP = KH.MaSP
    WHERE KH.MaCH = @MaCH
);
GO
/****** Object:  View [dbo].[view_DSSanPham]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_DSSanPham] AS
SELECT
	MaSP N'Mã sản phẩm',
	TenSP N'Tên sản phẩm',
	HangSX N'Hãng sản xuất',
	GiaNhap N'Giá nhập',
	GiaBan N'Giá bán',
	TrangThai N'Trạng thái'
FROM SanPham
GO
/****** Object:  Table [dbo].[BangLuong]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangLuong](
	[MaNV] [varchar](10) NOT NULL,
	[ThangNam] [varchar](10) NOT NULL,
	[LuongCB] [decimal](18, 2) NULL,
	[PhuCap] [decimal](18, 2) NULL,
	[Thuong] [decimal](18, 2) NULL,
	[KhauTru] [decimal](18, 2) NULL,
	[ThucLanh] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC,
	[ThangNam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGNHAP](
	[UserName] [nvarchar](30) NOT NULL,
	[Passwords] [nvarchar](30) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[Roles] [nvarchar](20) NOT NULL,
UNIQUE NONCLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BangLuong]  WITH CHECK ADD  CONSTRAINT [FK_BangLuong_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[BangLuong] CHECK CONSTRAINT [FK_BangLuong_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_SanPham]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PhieuNhap] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_CTPN_PhieuNhap]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_CTPN_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[KhoHang]  WITH CHECK ADD  CONSTRAINT [FK_KhoHang_CuaHang] FOREIGN KEY([MaCH])
REFERENCES [dbo].[CuaHang] ([MaCH])
GO
ALTER TABLE [dbo].[KhoHang] CHECK CONSTRAINT [FK_KhoHang_CuaHang]
GO
ALTER TABLE [dbo].[KhoHang]  WITH CHECK ADD  CONSTRAINT [FK_KhoHang_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[KhoHang] CHECK CONSTRAINT [FK_KhoHang_SanPham]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_CuaHang] FOREIGN KEY([MaCH])
REFERENCES [dbo].[CuaHang] ([MaCH])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_CuaHang]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_CuaHang] FOREIGN KEY([MaCH])
REFERENCES [dbo].[CuaHang] ([MaCH])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_CuaHang]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhaCungCap]
GO
ALTER TABLE [dbo].[CuaHang]  WITH CHECK ADD CHECK  ((len([Hotline])=(10)))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([TrangThai]=N'Chưa thanh toán' OR [TrangThai]=N'Đã thanh toán'))
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD CHECK  (([GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam'))
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD CHECK  ((len([SDT])=(10)))
GO
ALTER TABLE [dbo].[NhaCungCap]  WITH CHECK ADD CHECK  (([Mail] like '%gmail.com'))
GO
ALTER TABLE [dbo].[NhaCungCap]  WITH CHECK ADD CHECK  ((len([SDT])=(10)))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (([GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam'))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (([Mail] like '%gmail.com'))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  ((datediff(year,[NgaySinh],getdate())>=(18)))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  ((len([SDT])=(10)))
GO
/****** Object:  StoredProcedure [dbo].[AddChiTietHoaDon]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddChiTietHoaDon]
    @MaHD NVARCHAR(MAX),
    @MaSP VARCHAR(10),
	@SoLuong INT
AS
BEGIN
    SET NOCOUNT ON;

	INSERT INTO ChiTietHoaDon(MaHD, MaSP, SoLuong)
	VALUES (@MaHD, @MaSP, @SoLuong);
END;
GO
/****** Object:  StoredProcedure [dbo].[AddHoaDon]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddHoaDon]
    @MaHD NVARCHAR(MAX),
    @NgayGiaoDich DATE,
	@MaKH VARCHAR(10),
	@MaNV VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    -- Thêm hoá đơn
    INSERT INTO HoaDon(MaHD, NgayGiaoDich, MaKH, MaNV)
    VALUES (@MaHD, @NgayGiaoDich, @MaKH, @MaNV)
END;
GO
/****** Object:  StoredProcedure [dbo].[AddKhachHang]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddKhachHang]
    @MaKH NVARCHAR(MAX),
    @TenKH NVARCHAR(MAX),
    @GioiTinh NVARCHAR(10),
    @DiaChi NVARCHAR(MAX),
    @SDT NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra xem mã khách hàng đã tồn tại chưa
    IF EXISTS (SELECT 1 FROM KhachHang WHERE MaKH = @MaKH)
    BEGIN
        -- Mã khách hàng đã tồn tại, không thể thêm khách hàng
        RAISERROR ('Mã khách hàng đã tồn tại.', 16, 1);
        RETURN;
    END

    -- Thêm khách hàng vào bảng KhachHang
    INSERT INTO KhachHang (MaKH, TenKH, GioiTinh, DiaChi, SDT)
    VALUES (@MaKH, @TenKH, @GioiTinh, @DiaChi, @SDT);
END;
GO
/****** Object:  StoredProcedure [dbo].[AddNhanVien]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddNhanVien]
    @MaNV NVARCHAR(MAX),
    @TenNV NVARCHAR(MAX),
    @GioiTinh NVARCHAR(10),
    @NgaySinh DATE,
    @QueQuan NVARCHAR(MAX),
    @DiaChi NVARCHAR(MAX),
    @SDT NVARCHAR(20),
    @Mail NVARCHAR(MAX),
    @ChucVu NVARCHAR(MAX),
    @MaCH NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra mã cửa hàng có tồn tại không
    IF NOT EXISTS (SELECT 1 FROM CuaHang WHERE MaCH = @MaCH)
    BEGIN
        RAISERROR ('Mã cửa hàng không tồn tại.', 16, 1);
        RETURN;
    END;

    -- Thêm nhân viên vào bảng NhanVien
        INSERT INTO NhanVien (MaNV, TenNV, GioiTinh, NgaySinh, QueQuan, DiaChi, SDT, Mail, ChucVu, MaCH)
        VALUES (@MaNV, @TenNV, @GioiTinh, @NgaySinh, @QueQuan, @DiaChi, @SDT, @Mail, @ChucVu, @MaCH);
END;
GO
/****** Object:  StoredProcedure [dbo].[DoanhThu]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DoanhThu]
    @formdate DATE,
    @todate DATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TongThanhTien DECIMAL(18, 2);
    DECLARE @TongChiPhi DECIMAL(18, 2);
    DECLARE @DoanhThu DECIMAL(18, 2);

    SELECT @TongThanhTien = SUM(hd.thanhtoan)
    FROM [dbo].[HoaDon] hd
    WHERE hd.NgayGiaoDich BETWEEN @formdate AND @todate
    AND hd.TrangThai = N'Đã thanh toán';

    -- Tính tổng chi phí từ bảng ChiTietHoaDon
    SELECT @TongChiPhi = SUM(chd.SoLuong * sp.GiaNhap)
	FROM [dbo].[ChiTietHoaDon] chd
	INNER JOIN [dbo].[HoaDon] hd ON chd.MaHD = hd.MaHD
	INNER JOIN [dbo].[SanPham] sp ON chd.MaSP = sp.MaSP
	WHERE hd.NgayGiaoDich BETWEEN @formdate AND @todate;

    -- Tính doanh thu bằng cách trừ tổng chi phí khỏi tổng thành tiền
    SET @DoanhThu = @TongThanhTien - @TongChiPhi;

    -- Trả về kết quả
    SELECT @TongThanhTien AS TongThanhTien, @TongChiPhi AS TongChiPhi, @DoanhThu AS DoanhThu;
END;
GO
/****** Object:  StoredProcedure [dbo].[proc_BangLuong]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Thủ tục bảng lương
CREATE PROCEDURE [dbo].[proc_BangLuong]
    @MaNV VARCHAR(10)
AS
BEGIN
    SELECT
        MaNV AS 'Mã nhân viên',
        ThangNam AS 'Tháng/Năm',
        LuongCB AS 'Lương cơ bản',
        PhuCap AS 'Phụ cấp',
        Thuong AS 'Thưởng',
        KhauTru AS 'Khấu trừ',
        ThucLanh AS 'Thực lãnh'
    FROM 
        BangLuong
    WHERE 
        MaNV = @MaNV;
END;
GO
/****** Object:  StoredProcedure [dbo].[proc_insertAccount]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[proc_insertAccount]

@username NVARCHAR(50),

@password VARCHAR(25),

@employee_id VARCHAR(10),

@roles NVARCHAR(20)

AS

BEGIN

BEGIN TRAN

BEGIN TRY

-- Thêm tài khoản

INSERT INTO DANGNHAP (username, Passwords, MaNV, roles) VALUES (@username, @password, @employee_id, @roles);

DECLARE @sqlString NVARCHAR(2000)

-- Tạo tài khoản login cho nhân viên, tên người dùng và mật khẩu là tài khoản được tạo trên bảng Account

SET @sqlString = 'CREATE LOGIN [' + @username + '] WITH PASSWORD=''' + @password + ''', DEFAULT_DATABASE=[DATABASE_PROJECT_DBMS], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF'

EXEC (@sqlString)

PRINT(@sqlString);

-- Tạo tài khoản người dùng đối với nhân viên đó trên database (tên người dùng trùng với tên login)

SET @sqlString = 'CREATE USER [' + @username + '] FOR LOGIN [' + @username +']';

EXEC (@sqlString)

PRINT(@sqlString);

-- Thêm người dùng vào vai trò quyền tương ứng (Staff hoặc Manager(sysadmin))

IF (@roles = 'sysad')

SET @sqlString = 'ALTER SERVER ROLE sysadmin ADD MEMBER [' + @username + ']';

ELSE

SET @sqlString = 'ALTER ROLE Staff ADD MEMBER [' + @username + ']';

EXEC (@sqlString)

COMMIT TRAN

END TRY

BEGIN CATCH

ROLLBACK TRAN

DECLARE @err NVARCHAR(MAX)

SELECT @err = N'Lỗi ' + ERROR_MESSAGE()

RAISERROR(@err, 16, 1)

END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[SearchCuaHang]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchCuaHang]
    @Keyword NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
    	[MaCH] AS N'Mã cửa hàng',
    	[TenCH] AS N'Tên cửa hàng',
		[DiaChi] AS N'Địa chỉ',
		[Hotline]
    FROM
    	CuaHang
    WHERE
    	[MaCH]  LIKE '%' + @Keyword + '%' OR
    	[TenCH] LIKE '%' + @Keyword + '%' OR
    	[DiaChi] LIKE '%' + @Keyword + '%' OR
		[Hotline] LIKE '%' + @Keyword + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[SearchNhaCungCap]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchNhaCungCap]
    @Keyword NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
 
    SELECT
    	[MaNCC] AS N'Mã NCC',
    	[TenNCC] AS N'Tên NCC',
    	[SDT] AS N'SĐT',
    	[Mail] AS N'Mail',
    	[DiaChi] AS N'Địa chỉ'
    FROM
    	[dbo].[NhaCungCap]
    WHERE
    	[MaNCC] LIKE '%' + @Keyword + '%' OR
    	[TenNCC] LIKE '%' + @Keyword + '%' OR
    	[SDT] LIKE '%' + @Keyword + '%' OR
    	[Mail] LIKE '%' + @Keyword + '%' OR
    	[DiaChi] LIKE '%' + @Keyword + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[SearchNhanVien]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Thủ tục tìm kiếm nhân viên
CREATE PROCEDURE [dbo].[SearchNhanVien] @Keyword NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        [Mã nhân viên] AS N'Mã nhân viên',
        [Tên nhân viên] AS N'Tên nhân viên',
        [Giới tính] AS N'Giới tính',
        [Ngày sinh] AS N'Ngày sinh',
        [Quê quán] AS N'Quê quán',
        [Nơi ở] AS N'Nơi ở',
        [SDT] AS N'SDT',
        [Mail] AS N'Mail',
        [Chức vụ] AS N'Chức vụ',
        [Cửa hàng] AS N'Cửa hàng'
    FROM 
        view_DSNhanVien
    WHERE 
        [Mã nhân viên] LIKE '%' + @Keyword + '%' OR
        [Tên nhân viên] LIKE '%' + @Keyword + '%' OR
        [Giới tính] LIKE '%' + @Keyword + '%' OR
        [Ngày sinh] LIKE '%' + @Keyword + '%' OR
        [Quê quán] LIKE '%' + @Keyword + '%' OR
        [Nơi ở] LIKE '%' + @Keyword + '%' OR
        [SDT] LIKE '%' + @Keyword + '%' OR
        [Mail] LIKE '%' + @Keyword + '%' OR
        [Chức vụ] LIKE '%' + @Keyword + '%' OR
        [Cửa hàng] LIKE '%' + @Keyword + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[SearchPhieuNhap]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchPhieuNhap] @Keyword NVARCHAR(MAX) 
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        [Mã phiếu nhập] AS N'Mã phiếu nhập',
        [Ngày nhập] AS N'Ngày nhập',
        [Thanh toán] AS N'Thanh toán',
        [Tên nhà cung cấp] AS N'Tên nhà cung cấp',
        [Tên cửa hàng] AS N'Tên cửa hàng'
    FROM 
        view_DSPhieuNhap
    WHERE 
        [Mã phiếu nhập] LIKE '%' + @Keyword + '%' OR
        [Ngày nhập] LIKE '%' + @Keyword + '%' OR
        [Thanh toán] LIKE '%' + @Keyword + '%' OR
        [Tên nhà cung cấp] LIKE '%' + @Keyword + '%' OR
        [Tên cửa hàng] LIKE '%' + @Keyword + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[SearchSanPham]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchSanPham]
    @Keyword NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
 
    SELECT
    	[Mã sản phẩm] AS N'Mã sản phẩm',
    	[Tên sản phẩm] AS N'Tên sản phẩm',
    	[Hãng sản xuất] AS N'Hãng sản xuất',
    	[Giá nhập] AS N'Giá nhập',
    	[Giá bán] AS N'Giá bán',
		[Trạng thái] AS N'Trạng thái'

    FROM
    	view_DSSanPham
    WHERE
    	[Mã sản phẩm] LIKE '%' + @Keyword + '%' OR
    	[Tên sản phẩm] LIKE '%' + @Keyword + '%' OR
    	[Hãng sản xuất] LIKE '%' + @Keyword + '%' OR
    	CONVERT(nvarchar, [Giá nhập]) LIKE '%' + @Keyword + '%' OR
    	CONVERT(nvarchar, [Giá bán]) LIKE '%' + @Keyword + '%' OR
		[Trạng thái] LIKE '%' + @Keyword + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[SearchSanPham2]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchSanPham2]
    @Keyword NVARCHAR(MAX),
	@MaCH varchar(10)
AS
BEGIN
    SET NOCOUNT ON;
 
    SELECT
    	[SanPham].MaSP AS N'Mã sản phẩm',
    	[TenSP] AS N'Tên sản phẩm',
		[SoLuongTonKho] AS N'Số lượng tồn kho'
    FROM
    	SanPham JOIN KhoHang ON SanPham.MaSP = KhoHang.MaSP JOIN CuaHang ON KhoHang.MaCH = CuaHang.MaCH
    WHERE
    	([SanPham].MaSP LIKE '%' + @Keyword + '%' OR
    	[TenSP] LIKE '%' + @Keyword + '%' OR
    	CAST(SoLuongTonKho AS NVARCHAR(MAX)) LIKE '%' + @Keyword + '%') AND
		[CuaHang].MaCH = @MaCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateHoaDon]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateHoaDon]
    @MaHD NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra xem hóa đơn có tồn tại không
    IF NOT EXISTS (SELECT 1 FROM HoaDon WHERE MaHD = @MaHD)
    BEGIN
        RAISERROR ('Hóa đơn không tồn tại.', 16, 1);
        RETURN;
    END

    -- Cập nhật trạng thái từ 'Chưa thanh toán' sang 'Đã thanh toán' trực tiếp trong stored procedure
    UPDATE HoaDon
    SET TrangThai = N'Đã thanh toán'
    WHERE MaHD = @MaHD AND TrangThai = N'Chưa thanh toán';

    -- Kiểm tra xem có hàng nào bị ảnh hưởng không
    IF @@ROWCOUNT = 0
    BEGIN
        RAISERROR ('Không thể cập nhật trạng thái của hóa đơn.', 16, 1);
        RETURN;
    END

    -- Thành công
    SELECT 'Cập nhật thành công!' AS [Message];
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateKhachHang]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateKhachHang]
    @MaKH NVARCHAR(MAX),
    @DiaChi NVARCHAR(MAX) = NULL,
    @SDT NVARCHAR(10) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra xem khách hàng có tồn tại không
    IF NOT EXISTS (SELECT 1 FROM KhachHang WHERE MaKH = @MaKH)
    BEGIN
        RAISERROR ('Khách hàng không tồn tại.', 16, 1);
        RETURN;
    END

    -- Cập nhật thông tin khách hàng (chỉ cho phép sửa DiaChi và SDT)
	UPDATE KhachHang
	SET DiaChi = @DiaChi,
		SDT = @SDT
	WHERE MaKH = @MaKH;

    -- Trả về kết quả thành công
    RETURN 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateNhanVien]    Script Date: 5/2/2024 3:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Thủ tục cập nhật thông tin nhân viên
CREATE PROCEDURE [dbo].[UpdateNhanVien]
    @MaNV NVARCHAR(MAX),
    @TenNV NVARCHAR(MAX),
    @GioiTinh NVARCHAR(10),
    @NgaySinh DATE,
    @QueQuan NVARCHAR(MAX),
    @DiaChi NVARCHAR(MAX),
    @SDT NVARCHAR(20),
    @Mail NVARCHAR(MAX),
    @ChucVu NVARCHAR(MAX),
    @MaCH NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra xem nhân viên có tồn tại không
    IF NOT EXISTS (SELECT 1 FROM NhanVien WHERE MaNV = @MaNV)
    BEGIN
        -- Mã nhân viên không tồn tại, không thể sửa thông tin
        RAISERROR ('Mã nhân viên không tồn tại.', 16, 1);
        RETURN;
    END

    -- Kiểm tra xem mã cửa hàng có tồn tại không
    IF NOT EXISTS (SELECT 1 FROM CuaHang WHERE MaCH = @MaCH)
    BEGIN
        -- Mã cửa hàng không tồn tại, không thể thêm nhân viên
        RAISERROR ('Mã cửa hàng không tồn tại.', 16, 1);
        RETURN;
    END

    -- Sửa thông tin nhân viên trong bảng NhanVien
    UPDATE NhanVien 
    SET TenNV = @TenNV,
        GioiTinh = @GioiTinh,
        NgaySinh = @NgaySinh,
        QueQuan = @QueQuan,
        DiaChi = @DiaChi,
        SDT = @SDT,
        Mail = @Mail,
        ChucVu = @ChucVu,
        MaCH = @MaCH
    WHERE MaNV = @MaNV;
END;
GO
USE [master]
GO
